#游戏id
game_id = 2141
#游戏服访问登录服配置的接口，请将ip改成中心服外网ip,方便游戏服访问-----------这个配置需要运维修改
server_config = 127.0.0.1:8888/slg/server_config
#游戏服要连接运营后台的ip
socket_server_ip = 172.16.129.237
#游戏服要连接运营后台的端口
socket_server_port = 2019

is_hotswap_closed=1
is_open_cluster=0
is_check_heart_beat=0
is_enter_default_server=1

#游戏服同步玩家数据给登录服的接口，此处ip同样要改成中心服外网ip-----------这个配置需要运维修改
sync_user_http_server = 172.16.0.70:8888/slg/sync_user
#游戏服是否需要连接中心服开关 1：是 0：否 这里填1
is_http_connect = 1
#外网正式环境：https://ops-api.q1.com/api/activate
cdkey_url = cdkey-api.test.q1oa.com/api/activate
#线上正式环境是:https
cdkey_http = http

#外网正式环境：https://ops-api.kairong5.com/api/activate
kr_cdkey_url = ops-api.kairong5.com/api/activate
#线上正式环境是:https
kr_cdkey_http = http
#调查问卷的key
questionnaire_key = 4ecb4a61c2c140afaa5b8359e81fb886
#线上正式环境的key不一样！kugkufjfvgklglkgbir6u6
kr_questionnaire_key = kugkufjfvgklglkgbir6u6