{
  "http":8888,
  "mysql": [
    {
      "host": "127.0.0.1",
      "port": 3306,
      "user": "root",
      "pass": "reison",
      "db_data": "slg_http_bak",
    }
  ],
  "is_debug":0,
  "recharge_call_back_url":"/api/common/recharge",
  "questionnaire_call_back_url":"/api/common/questionnaire"
}
