{
  "login_ip": "10.10.10.16",
  "login_port": "8108",
  "socket_server": "172.16.129.237",
  "socket_port": "2019",
  "game_center_http": "http://localhost:9999",
  "http":8888,
  "redis_ip":"127.0.0.1",
  "redis_pass":"reison",
  "server_id": 1,
  "debug":true,
  "notifyurl":"http://172.16.71.27:8888/sql/recharge",
  "steam":[
    {
      "web_api_key":"DC8AD15E088033860FD8C08C02591AFD",
      "url":"https://partner.steam-api.com",
      "demo_app_id":1608030,
      "player_test_app_id":1604870,
      "app_id":1493260
    },
  ],
  "mysql": [
    {
      "host": "127.0.0.1",
      "port": 3306,
      "user": "root",
      "pass": "reison",
      "db_data": "slg_game_server",
      "db_log": "reison"
    }
  ]
}
